$light-mode-nav-blue: #2ec4b6;
$light-mode-body-blue: #b6e7e1;
$dark-mode-nav-blue: #002855;
$dark-mode-body-blue: #001233;
$light-mode-text: #09223E;
$dark-mode-text: #C1D5EC;
$light-mode-box-shadow: #21897f;